html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url('assets/img/paper.png');
    background-repeat: repeat;
    background-position: top left;
    background-attachment: scroll;
}

.site {
    height: 100%;
}

.site-main {
    height: auto;
}

.site-main,
.widget-area,
.site-header-wrapper {
    max-width: $xl;
    margin: 0 auto;
    padding: 24px 12px 12px 12px; 
}