.contact-wrapper {
    max-width: $xl;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;    
    margin: 0 auto;
}

.design {
    width: 100%;
    height: 400px;
    background-image: url('assets/img/bg-butterfly.jpg');
    background-attachment: fixed;
    background-position: center center;
}

.page {
    .wpcf7 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        margin: 32px 0;

        form {
            max-width: 400px;
            background-color: #333533;
            padding: 32px 16px 16px 16px;
            color: $color__header-link;
            border-radius: 4px;

            p {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: flex-start;
                justify-content: space-between;

                label {
                    display: none;
                    max-width: 125px;
                }

                &:last-of-type {
                    justify-content: center;
                    margin: 0;
                    padding: 0;
                    
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}