input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	max-width: 100%;
	width: 100%;
	height: auto;
	@include font-size(.9);
	border: 1px solid $color__header-link;
	border-radius: 4px;
	padding: 8px 5px 5px 5px;
	overflow: hidden;

	&:focus,
	&:active {
		background-color: $color__background-screen;
		border: 1px solid $color__input-hover;
		outline: none;
	}
}

select {
	max-width: 100%;
	width: 100%;
	height: auto;
	@include font-size(.9);
	border: 1px solid $color__header-link;
	border-radius: 4px;		
	padding: 8px 5px 5px 5px;
	overflow: hidden;
	
	&:focus,
	&:active {
		background-color: $color__background-screen;
		border: 1px solid $color__input-hover;
		outline: none;
	}	
}