.widget-area,
.entry-content,
.comments-area {
	@include font-size(.9);

	section {
		margin: 0 0 16px 0;
		padding: 0;
	}
}

.widget-title {
	@include font-size(1.5);
	margin: 0;
	padding: 8px 0 0 0;
}

/*
 * Archive, Categories, Pages, Meta, Comments, Post, Rss
 */
.widget_archive,
.widget_categories,
.widget_pages,
.widget_meta,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	li {
		list-style: disc;

		ul {
			margin-left: 8px;

			li {
				list-style: circle;
			}
		}
	}
}

/*
 * Calendar
 */
.widget_calendar {
	.calendar_wrap {
		border: 1px solid $color__header-link;
		border-radius: 4px;
		padding: 5px;
	}

	.wp-calendar-table {
		width: 100%;
		text-align: center;
		margin: 0;
		border-spacing: 0;
		border-collapse: collapse;

		caption {
			border-bottom: 1px solid $color__header-link;
			margin: 0;
		}

		td {
			border: 1px solid $color__header-link;
			padding: 0;

			&:hover,
			&:focus {
				background-color: $color__header-link;
				cursor: pointer;
			}
		}
	}

	.wp-calendar-nav {
		padding: 5px 5px 0 5px;
	}
}

/*
 * Rss
 */
.widget_rss {
	h2 {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: flex-end;

		img {
			margin-left: 8px;
		}
	}
}

/*
 * Search
 */
.widget_search {

	form {
		width: 100%;
	}

	input {
		width: 100%;
		border: 1px solid $color__header-link;
		padding: 8px 5px 5px 5px;
	}

	.search-submit {
		display: none;
	}
}

/*
 * Nav menu
 */
.widget_nav_menu {
	display: block;
	width: 100%;

	.menu {
		background-color: #333533;
		border: 1px solid $color__header-link;
		border-radius: 4px;
	}

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			background-color: #333533;
			border: 1px solid $color__text-input;
			border-radius: 0 0 4px 4px;
			z-index: 99999;

			ul {
				left: -999em;
				top: 43px;
			}

			li {
				border-bottom: 1px solid $color__text-input;

				&:last-of-type {
					border: none;
				}

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: -1px;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__header-link;

		&:hover,
		&:focus {
			color: $color__background-body;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__background-body;
	}
}