.site-featured-image {
    margin: 0;
    padding: 0;

    img {
        display: block;
        width: 100vw;
        height: auto;
    }
}

.site-header {
    height: 86px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color__main;
    padding: 0 1em;

    @media screen and (min-width: $md) {
        padding: 0 2em;
    }
}

.site-branding {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;

    .custom-logo-link {

        img {
            width: auto;
            height: 70px;
            display: block;
            margin-right: 8px;
        }
    }
}

.site-title {
    font-size: 2em;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: #e0e0e0;

        &:hover,
        &:active {
            text-decoration: underline;
            color: #ffffff;
        }
    }
}

.main-navigation {
    width: auto;
    
    @media screen and (min-width: $md) {
        align-self: flex-end;
        padding-bottom: .5em;
    }
}