.site-header {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #242423;
    padding: 0 1em;

    @media screen and (min-width: $md) {
        padding: 0 2em;
    }

}

.site-title {
    font-size: 2em;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        color: #e0e0e0;

        &:hover,
        &:active {
            text-decoration: underline;
            color: #ffffff;
        }
    }
}

.main-navigation {
    width: auto;
    
    @media screen and (min-width: $md) {
        align-self: flex-end;
        padding-bottom: .5em;
    }
}