.site-featured-image {
    margin: 0;
    padding: 0;

    img {
        display: block;
        width: 100vw;
        height: 20vh;

        @media screen and (min-width: $md) {
            height: auto;
        }        
    }
}

.site-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: $color__main;
    padding: 0 16px;

    @media screen and (min-width: $md) {
        padding: 0 32px;
    }
}

.site-branding {
    height: 86px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;

    img {
        width: auto;
        height: 70px;
        display: none;
        margin-right: 8px;

        @media screen and (min-width: $md) {
            display: block;
        }
    }
}

.site-title {
    font-size: 32px;
    margin: 0 16px 0 0;
    padding: 0;

    a {
        text-decoration: none;
        color: $color__bg-header;

        &:hover,
        &:active {
            text-decoration: underline;
            color: $color__background-body;
        }
    }
}

.main-navigation {
    width: auto;
    
    @media screen and (min-width: $md) {
        align-self: flex-end;
        padding: 0;
    }
}