/* 
 * Global link color
 * Header and footer excluded.
 */
.site-main a,
.widget-area a {
	text-decoration: none;
	color: $color__input-hover;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
