.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			background-color: $color__main;
			border: 1px solid $color__text-input;
			border-radius: 0 0 4px 4px;
			z-index: 99999;

			ul {
				left: -999em;
				top: 43px;
			}

			li {
				border-bottom: 1px solid $color__text-input;

				&:last-of-type {
					border: none;
				}

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: 50%;
				}
			}

			a {
				width: 200px;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__header-link;

		&:hover,
		&:focus {
			color: $color__background-body;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__background-body;
	}
}

.menu-item-has-children {
	background-image: url('assets/img/expand-arrow.png');
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-attachment: scroll;
}

/* Small menu. */
.toggled ul {
	display: block;
}

.burger-menu {
	ul {
		display: block;
		cursor: pointer;

		li {
			height: 8px;
			width: 65px;
			margin-bottom: 8px;
			background-color: $color__bg-header;
			border-radius: 4px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.menu {
	position: absolute;
	top: 86px;
	right: -18px;
	left: -18px;
	background-color: $color__main;

	li {
		padding: 8px 16px;
	}
}

/* Desktop menu */
@media screen and (min-width: $md) {

	.main-navigation ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		ul {
			ul {
				top: 43px;
			}
		}
	}

	.burger-menu > ul {
		display: none;
	}

	.menu {
		position: relative;
		top: 0;
		right: 0;
		left: 0;

		> li {
			margin: 0 12px 0 0;
			padding: 8px;

			&:last-of-type {
				margin: 0;
			}
		}		
	}

	.menu > .menu-item-has-children {
		background-position: 100% 50%;
		padding-right: 25px;
	}

	.sub-menu > li {
		padding-right: 25px;
	}

}

@media screen and (min-width: $lg) {
	.main-navigation ul ul ul {
		top: 46px;
	}	
}

/* Comment and post navigation */
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 24px;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;	
	}

	.nav-previous,
	.nav-next {
		display: block;
		width: 100%;
		background-repeat: no-repeat;
		background-size: 40px;
		background-attachment: scroll;
		font-size: .9em;	
		margin-bottom: 8px;
		padding: 16px;
		text-align: center;	
	}

	.nav-previous {
		background-image: url('assets/img/left-arrow.png');
		background-position: 2% 50%;	
	}

	.nav-next {
		background-image: url('assets/img/right-arrow.png');
		background-position: 98% 50%;			
	}

	@media screen and (min-width: $md) {
		.nav-links {
			flex-direction: row;
			justify-content: space-between;
		}

		.nav-previous,
		.nav-next {
			flex: 0 0 49%;
		}

		.nav-previous {
			background-position: 2% 50%;
			padding-left: 60px;
			text-align: left;
		}

		.nav-next {
			background-position: 98% 50%;
			padding-right: 60px;
			text-align: right;
		}
	}	
}