/*
 * Comment list
 */
.comments-area {
	max-width: $xl;
}

.comments-title {
	font-size: 1.25em;
	padding: 0;
}

.comment-list {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.comment-body {
	margin-bottom: 8px;
	padding: 16px;
}

.comment-author {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	font-size: .9em;
	margin-bottom: 8px;

	img {
		display: block;
		width: auto;
		height: auto;
		margin: 0 8px 0 0;
		padding: 0;
	}

	.fn {
		margin: 0 4px 0 0;
	}
}

.comment-metadata {
	font-size: .7em;
	margin: 0 0 8px 0;
}

.comment-content,
.reply {
	font-size: .8em;
}

.odd {
	border-top: 1px solid #cfdbd5;
	border-left: 1px solid #cfdbd5;
}
.even {
	border-top: 1px solid #f5cb5c;
	border-left: 1px solid #f5cb5c;
}

/*
 * Comment form
 */
.comment-respond {
	font-size: .8em;
	margin: 0;
	border-top: 1px solid $color__header-link;
	padding-top: 8px;

	p {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	label {
		display: block;
	}

	.form-submit input[type="submit"] {
		height: 38px;
		max-width: 200px;
		width: 150px;
		padding: 8px 8px 5px 8px;
	}
}

.comment-reply-title {
	font-size: 1.25em;
	margin: 8px 0;
	padding: 0;
}

p.comment-notes {
	display: block;
}

p.comment-form-cookies-consent {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;

	input[type="checkbox"] {
		margin: 0 8px 8px 0;
	}

	@media screen and (min-width: 580px) {
		input[type="checkbox"] {
			margin: 0 8px 0 0;
		}		
	}
}