/*
 * Post
 */
.post,
article.page {
	margin-bottom: 32px;
	border: 1px solid #cfdbd5;

	a {
		text-decoration: none;
		color: #bb4430;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

/*
 * Entry header
 */
.entry-header {
	padding: 0 16px;

	.entry-title,
	.entry-meta p {
		margin: 0;
		padding: 8px 0;
	}

	.entry-title {
		font-size: 2em;
		border-bottom: 1px solid #cfdbd5;
	}

	.entry-meta {
		font-size: .9em;

		span {
			padding-left: 22px;
			margin-right: 8px;
		}

		.author,
		.posted_date,
		.categories,
		.tags {
			background-repeat: no-repeat;
			background-size: 20px;
			background-position: 0% 50%;
			background-attachment: scroll;			
		}

		.author {
			background-image: url('assets/img/user.png');
		}

		.posted_date {
			background-image: url('assets/img/clock.png');
		}

		.categories {
			background-image: url('assets/img/folder.png');
		}

		.tags {
			background-image: url('assets/img/tag.png');
		}
	}

	@media screen and (min-width: $lg) {
		padding: 0 32px;
	}
}

/*
 * Entry content
 */
.entry-content {
	padding: 16px;
	overflow: hidden;

	div,
	p {
		margin: 0 0 16px 0;
		line-height: 1.5;
	}

	figcaption {
		font-size: .9em;
		font-style: italic;
		text-align: center;
	}
}

/*
 * Entry footer
 */
.entry-footer {
	clear: both;
	padding: 16px;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
