/*
 * Post
 */
.post-wrapper {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	
    .post-content {
        flex: 1 0 65%;
    }

    .widget-area {
        flex: 0 0 30%;
		margin-top: 0px;
        padding: 0 16px;

        h2 {
            margin: 0;
            padding: 8px 0;
		}	
    }

    @media screen and (min-width: $lg) {
		flex-direction: row;
		justify-content: space-between;
		padding: 32px 16px 16px 16px;		

		.widget-area {
			margin-top: 77px;
		}
    }	
}

.post,
article.page {
	margin-bottom: 32px;

	a {
		text-decoration: none;
		color: #bb4430;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.attachment-post-thumbnail {
		margin-bottom: 16px;
	}
}

/*
 * Image sizing for index page
 */
.hfeed img {
	padding: 0;
}

/*
 * Entry header
 */
.entry-header {
	margin: 0;
	padding: 0;

	.entry-title,
	.entry-meta p {
		margin: 0;
		padding: 8px 0;
	}

	.entry-title {
		font-size: 2em;
		border-bottom: 1px solid #cfdbd5;
	}

	.entry-meta {
		font-size: .9em;

		span {
			padding-left: 22px;
			margin-right: 8px;
		}

		.author,
		.posted_date,
		.categories,
		.tags {
			background-repeat: no-repeat;
			background-size: 20px;
			background-position: 0% 50%;
			background-attachment: scroll;			
		}

		.author {
			background-image: url('assets/img/user.png');
		}

		.posted_date {
			background-image: url('assets/img/clock.png');
		}

		.categories {
			background-image: url('assets/img/folder.png');
		}

		.tags {
			background-image: url('assets/img/tag.png');
		}
	}

}

/*
 * Entry content
 */
.entry-content {
	overflow: hidden;

	div,
	p {
		margin: 0 0 16px 0;
		line-height: 1.5;
	}

	figcaption {
		font-size: .9em;
		font-style: italic;
		text-align: center;
	}
}

/*
 * Entry footer
 */
.entry-footer {
	clear: both;
	padding: 16px;
}

.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
