.post {
	border: 1px solid #cfdbd5;
}

.entry-header {
	padding: 0 16px;

	.entry-title,
	.entry-meta p {
		margin: 0;
		padding: 0;
	}

	.entry-title {
		border-bottom: 1px solid #cfdbd5;
	}

	.entry-meta {
		font-size: .9em;
		padding: 8px 0;
	}

	@media screen and (min-width: $lg) {
		padding: 0 32px;
	}

}

.sticky {
	display: block;
}

.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
